<header>
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  
  <ul>
    {% for post in site.categories.post %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <p class="view"><a href="{{ site.repo_url }}">View the Project on GitHub <small>{{ site.repo_name }}</small></a></p>
  
  <ul class="download-chimes">
    <li><a href="{{ site.repo_zip_url }}">Download <strong>ZIP File</strong></a></li>
    <li><a href="{{ site.repo_tar_url }}">Download <strong>TAR Ball</strong></a></li>
    <li><a href="{{ site.repo_fork_url }}">Fork On <strong>GitHub</strong></a></li>
  </ul>
</header>