<header>
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  
  <ul>
    {% for post in site.categories.post %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  
  <p class="view"><a href="http://github.com/orderedlist/minimal">View the Project on GitHub <small>orderedlist/minimal</small></a></p>
  
  <ul class="download-chimes">
    <li><a href="https://github.com/orderedlist/minimal/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/orderedlist/minimal/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="http://github.com/orderedlist/minimal">Fork On <strong>GitHub</strong></a></li>
  </ul>
</header>